*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: solid 2px blue;
    flex-direction: column;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px red solid;
}

div{

    border: black solid 1px;
}