*{
    margin: 0;
    padding: 0;
    font-family: 'Bungee Shade', cursive;
}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: #ff339e;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 10px #ff339e solid;
    border-radius: .5em;
    background-color: #fffa33;
}

h1{
    font-size: 36pt;
}


button{
    margin: .5em;
    padding: .33em;
    font-size: 18pt;
    color: #ff339e;
    border: 2px solid #ff339e;
    border-radius: .25em;
}

button:hover{
    filter: drop-shadow(-3px 3px 0px #ff339e);
    border: 2px solid #ff339e;
    border-radius: .25em;
}

